{% extends 'universal.html.twig' %}

{% block title %} Global de noticia {{ idNoticia }}{% endblock %}

{% block contenido %}
    <h1>Esta es la vista single {{ idNoticia }}</h1>
    <a href="{{ url('noticias') }}">Seccion principal de noticias</a>
{% endblock %}
