<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("static/css/bootstrap.min.css") }}"> 
    <link rel="stylesheet" href="{{ asset("static/css/global.css") }}"> 
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
    <div id="global">
        <div id="cabecera">
            Este curso de Symfony 5 es el mejor
        </div>
        <div id="contenido">
            {% block contenido %}
                Este es el contenido cuando no ponemos nada
            {% endblock %}
        </div>
        <div id="pie">
            Aviso Legal
        </div>        
    </div>
</body>
</html>